{% include "blocks/header.html" %}
{% block content %}

<div class="padding-top-90 padding-bottom-90 access-page-bg">
  <div class="container">
    <div class="row">

      <div class="col-xl-4 col-md-6">
        <div class="access-form">
          <div class="form-header">
            <h5><i data-feather="edit"></i>Восстановление пароля</h5>
          </div>

          {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              Логин или пароль введены неверно!
            </div>
          {% endif %}

          <script type="text/javascript">
            jQuery(function($){
              $('#id_email').addClass('form-control');
              $("#id_email").attr("placeholder", "Введите вашу почту");
            });
          </script>

          <form class="login-form password-reset-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button primary-bg btn-block" type="submit">Далее</button>
          </form>
          <div class="shortcut-login">
            <p>Вспомнили пароль? <a href="{% url 'login' %}" style="color: red;">Войти</a></p>
          </div>
        </div>
      </div>
  
      <div class="d-xs-none col-xl-6 offset-xl-2 col-md-6 skyt">
        <center><img class="center-block" src="/static/images/logoreg.png?v2" alt="" width="100%"></center>
      </div>
  
      <style> @media (max-width:991px){
          .skyt {display:none;}
        }
      </style>
    </div>
  </div>
</div>

{% endblock %}
{% include "blocks/footer.html" %}