{% include "blocks/header.html" %}

<div class="padding-top-90 padding-bottom-90 access-page-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-sm-offset-2 col-md-8 justify-content-center align-items-center">
        {% block content %}
          <p>
            Мы выслали инструкции для воостановления пароля на Ваш почтовый ящик. Если аккаунт с таким адресом существует, вы получите письмо в течение короткого времени.
          </p>
          <p>
            Если Вы не получили письма, проверьте, пожалуйста, правильно ли введен почтовый адрес и не попало ли письмо в папку "Спам".
          </p>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% include "blocks/footer.html" %}