{% include "blocks/header.html" %}
{% block content %}
<div class="padding-top-90 padding-bottom-90 access-page-bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="access-form" style="margin-bottom: 20px;">
          <div class="form-header" style="background-color: #dff0d8; margin-top: 20px; margin-bottom: 10px;">
            <h5><i data-feather="edit"></i>Смена пароля прошла успешно.</h5>
          </div>
          <p>
            Смена пароля прошла успешно.<br>
            Теперь авторизуйтесь на сайте:<br>
            <a href="{% url 'login' %}" style="color: #eb3547;">Авторизоваться</a>
          </p>
        </div>
    </div>
    <div class="d-xs-none col-xl-6 offset-xl-2 col-md-6 skyt">
      <center><img class="center-block" src="/static/images/logoreg.png?v2" alt="" width="100%"></center>
    </div>

  </div>
</div>
{% endblock %}
{% include "blocks/footer.html" %}