{% include "blocks/header.html" %}
{% block content %}
<div class="padding-top-90 padding-bottom-90 access-page-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10 justify-content-center align-items-center">
        <h3>Восстановление пароля</h3>
        <form class="password-reset-form" method="post" >
          {% csrf_token %}
          {{ form.as_p }}
          <button class="button primary-bg" type="submit">Далее</button>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

{% endblock %}
{% include "blocks/footer.html" %}