<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table d-none d-md-table d-xl-table" id="price-table">
                <thead>
                    <tr>
                      <th scope="col">Название лота</th>
                      <th scope="col">Цена</th>
                      <th scope="col">Дата окончания</th>
                      <th scope="col">Запрос пользователя</th>
                      <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for zakaz in all_zakaz%}
                        <tr>
                            <td class="title"><a href="{{zakaz.lot.get_absolute_url}}">{{zakaz.lot.title}}</a></td>
                            <td>{{zakaz.lot.price}}</td>
                            <td>{{zakaz.lot.date|date:"d/m/Y"}}</td>
                            <td>
                                {% for p in zakaz.preference%}
                                <p>
                                    {% if zakaz.klyent.profile.tarif.name|first in 'EXP' %}
                                        {{p.name}}  {{p.value}}
                                    {% else %}
                                        {{p.name}}  {{p.value}}
                                    {% endif %}
                                </p>
                                {% endfor %}
                            </td>
                            <td><a href="{{zakaz.lot.get_absolute_url}}" class="btn-outline">Открыть лот</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- pc table end here  -->

            <!-- starting mobile table as according collapse -->
        </div>
    </div>
</div>