<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table d-none d-md-table d-xl-table" id="price-table">
                <thead>
                    <tr>
                      <th scope="col">Название лота</th>
                      <th scope="col">Цена</th>
                      <th scope="col">Дата окончания</th>
                      <th scope="col">Запрос пользователя</th>
                      <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% regroup all_zakaz|dictsort:"lot.title" by lot.title as zakaz_list %}
                   
                    {% for zakaz in zakaz_list %}
                        <tr {% if zakaz.list.0.klyent.profile.tarif.name|first in 'EXP' %} class="bg-light-blue" {% endif %}>
                            <td class="title"><a href="{{zakaz.grouper.get_absolute_url}}">{{zakaz.grouper}}</a></td>
                            <td>{{zakaz.grouper.price}}</td>
                            <td>{{zakaz.grouper.date|date:"d/m/Y"}}</td>
                            <td>
                                {% for zk in zakaz.list %} 
                                    {% for p in zk.preference%}
                                        <p>
                                            {% if zk.klyent.profile.tarif.name|first in 'EXP' %}
                                                {{p.name}}  {% if p.value %} <span>{{p.value}}₸</span> {% endif %}
                                            {% else %}
                                                {{p.name}}  {{p.value}}
                                            {% endif %}
                                        </p>
                                    {% endfor %}
                                {% endfor %}
                            </td>
                            <td><a href="{{zakaz.grouper.get_absolute_url}}" class="btn-outline">Открыть лот</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- pc table end here  -->

            <!-- starting mobile table as according collapse -->

            <div class="accordion d-xl-none d-md-none price-accordion mt-4" id="accordionExample">
                {% regroup all_zakaz|dictsort:"lot.title" by lot.title as zakaz_list %}
                {% for zakaz in zakaz_list %}
                    <div class="card {% if zakaz.list.0.klyent.profile.tarif.name|first in 'EXP' %} bg-light-blue {% endif %}">
                        <div class="card-header" id="heading-{{forloop.counter}}">
                            <button class="collapse-heading collapsed" data-toggle="collapse" data-target="#collapse-{{forloop.counter}}" aria-expanded="false" aria-controls="collapse-{{forloop.counter}}">
                                <span class="title">
                                    {{zakaz.grouper.title}}
                                </span>
                                <span class="icon-cycle">
                                    {% include "blocks/icon.html" %}
                                    {{zakaz.grouper.price}}
                                </span>
                                <span class="arrow">
                                    <i class="fa fa-arrow-up d-none"></i> 
                                    <i class="fa fa-arrow-down d-none"></i> 
                                </span>
                            </button>
                        </div>
                
                        <div id="collapse-{{forloop.counter}}" class="collapse" aria-labelledby="heading-{{forloop.counter}}" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="item-row">
                                    <div class="title">
                                        ID лота
                                    </div>
                                    <div class="title">
                                        {{zakaz.grouper.id}}
                                    </div>
                                </div>
                                <div class="item-row">
                                    <div class="title">
                                        Цена
                                    </div>
                                    <div class="desc">
                                        {{zakaz.grouper.price}}
                                    </div>
                                </div>
                                <div class="item-row">
                                    <div class="title">
                                        Дата окончания
                                    </div>
                                    <div class="desc">
                                        {{zakaz.grouper.date|date:"d.m.Y"}}
                                    </div>
                                </div>
                                <div class="item-row">
                                    <div class="title">
                                        Запрос пользователя
                                    </div>
                                    <div class="desc">
                                        {% for zk in zakaz.list %} 
                                            {% for p in zk.preference%}
                                                <p>
                                                    {% if zk.klyent.profile.tarif.name|first in 'EXP' %}
                                                        {{p.name}}  {% if p.value %} <span>{{p.value}}₸</span> {% endif %}
                                                    {% else %}
                                                        {{p.name}}  {{p.value}}
                                                    {% endif %}
                                                </p>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="item-row">
                                    <a href="{{zakaz.grouper.get_absolute_url}}" class="btn-outline btn-block">Открыть лот</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- <div class="pagination-list text-right">
                <nav class="navigation pagination">
                <div class="nav-links basket">
                    <a href="#" class="prev page-numbers"><<</a>
                    <a href="#" class="page-numbers current">1</a>
                    <a href="#" class="next page-numbers">>></a>
                </div>
                </nav>
            </div> -->

            {% if total_posts > 1 %} 
                <div class="pagination-list text-center text-md-right text-lg-right text-xl-right">
                    <nav class="navigation pagination">
                        <div class="nav-links zakaz">
                        {% if all_zakaz.has_previous %}
                            <a class="prev page-numbers" href="javascript:void(0);" data-page="1"> << </a>
                            <a class="prev page-numbers" href="javascript:void(0);" data-page="{{ all_zakaz.previous_page_number }}"> < </a>
                        {% endif %}
                        {% for p in all_zakaz.paginator.page_range %}
                            {% if all_zakaz.number == p %}
                                <a aria-current="page" href="javascript:void(0);"  data-page="{{ p }}" class="page-numbers current">{{ p }}</a>
                            {% elif p > all_zakaz.number|add:'-3' and p <= all_zakaz.number|add:'3' %}
                                <a aria-current="page" href="javascript:void(0);" data-page="{{ p }}" class="page-numbers">{{ p }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if all_zakaz.has_next %}
                            <a class="next page-numbers" href="javascript:void(0);" data-page="{{ all_zakaz.next_page_number }}"> > </a>
                            <a class="prev page-numbers" href="javascript:void(0);" data-page="{{ total_posts }}"> >> </a>
                        {% endif %}
                        </div>
                    </nav>
                </div>
            {% endif %}

        </div>
    </div>
</div>