<section class="request-container">
  {% for request_post in post_requests %}
    <div class="request">
      {% if  request_post.klyent.profile.tarif.name|first in 'MN' %}
        <div class="client">
          <div class="msg-container">
            {% if user.profile.tarif.name|first in 'EXP'  or user.id == request_post.klyent.id %}
              <a href="{% url 'profile' %}?user_id={{request_post.klyent.id}}" class="expert-name">{{request_post.klyent.id|stringformat:"06d"}} (Client)</a>
            {% elif not user.is_authenticated  %} 
              <a href="{% url 'profile' %}?user_id={{request_post.klyent.id}}" class="expert-name">{{request_post.klyent.id|stringformat:"06d"}} (Client)</a>
            {% else %}
              <a href="#" class="access-error">{{request_post.klyent.id|stringformat:"06d"}} (Client)</a>
            {% endif %}
            <form action="{% url 'basket_deleting_lot' %}" method="post" class="request-delete-form">
              {% csrf_token %}
              <input type="hidden" name="item_id" value="{{request_post.id}}">
              <input type="hidden" name="next" value="{{request.path}}">
              {% if request.user.id == request_post.klyent.id %}
                <button type="submit" class="btn btn-danger request-delete" data-product-id="{{request_post.lot.id}}" data-user-id="{{user.id}}">
                  <i class="fa fa-trash"></i>
                </button>
              {% endif %}
            </form>
          
            <p class="msg">
              <strong>{{ request_post.date|date:"d/m/yy h:i"}}</strong>
              {% for p in request_post.preference %}
                <span>{{p.name}}: {{p.value}}</span>
              {% endfor %}
            </p>
          </div>
        </div>
      {% endif %}
      {% if request_post.klyent.profile.tarif.name|first in 'EXP' %}
        <div class="expert">
          <div class="msg-container">
            <a href="{% url 'profile' %}?user_id={{request_post.klyent.id}}" class="expert-name">{{request_post.klyent.id|stringformat:"06d"}} (Expert)</a>
            <form action="{% url 'basket_deleting_lot' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="item_id" value="{{request_post.id}}">
              <input type="hidden" name="next" value="{{request.path}}">
              {% if request.user.id == request_post.klyent.id %}
                <button type="submit" class="btn btn-danger request-delete" data-product-id="{{request_post.lot.id}}" data-user-id="{{user.id}}">
                  <i class="fa fa-trash"></i>
                </button>
              {% endif %}
            </form>
            <p class="msg">
              <strong>{{ request_post.date|date:"d/m/yy h:i"}}</strong>
              {% for p in request_post.preference %}
                <span>{{p.name}}: {{p.value}}</span>
              {% endfor %}
            </p>
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</section>

  <div class="pagination-list text-center">
    <nav class="navigation pagination">
      <div class="nav-links request">
        {% if post_requests.has_previous %}
          <a class="prev page-numbers" href="javascript:void(0);" data-page="1"> << </a>
          <a class="prev page-numbers" href="javascript:void(0);" data-page="{{ post_requests.previous_page_number }}"> < </a>
        {% endif %}
        {% for p in post_requests.paginator.page_range %}
            {% if post_requests.number == p %}
                <a aria-current="page" href="javascript:void(0);"  data-page="{{ p }}" class="page-numbers current">{{ p }}</a>
            {% elif p > post_requests.number|add:'-3' and p <= post_requests.number|add:'3' %}
                <a aria-current="page" href="javascript:void(0);" data-page="{{ p }}" class="page-numbers">{{ p }}</a>

            {% endif %}
        {% endfor %}
        {% if post_requests.has_next %}
          <a class="next page-numbers" href="javascript:void(0);" data-page="{{ post_requests.next_page_number }}"> > </a>
          <a class="prev page-numbers" href="javascript:void(0);" data-page="{{ total_pages }}"> >> </a>
        {% endif %}
      </div>
    </nav>
  </div>