{% load humanize %}
{% load widget_tweaks%}
{% load checklist %}
{% load compare %}
{% load is_favorited %}
{% load is_favourite_post %}

{% include "blocks/header.html" %}

<!-- Breadcrumb -->
<div class="breadcrumb-top alice-bg padding-top-30 padding-bottom-30 xs-padding-bottom-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="breadcrumb-area">
          <h1>Поиск лотов</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">Поиск лотов</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-md-6">
        <div class="breadcrumb-form breadcrumb-form-mobile" style="">
          <form action="{% url 'post_list' %}" class="lots-page-form-mobile">
            <input type="text" placeholder="Поиск по названию" class="searchform-name-input" name="title">
            <button><i data-feather="search"></i></button>
          </form>
          <script>
            jQuery(document).ready(function ($) {
              $(".searchform-name-input").keyup(function() {
                  $(".searchform-name-input").val( this.value );
              });
              // $("#search-name-input-2").keyup(function() {
              //     $("#search-name-input").val( this.value );
              // });
            });
          </script>

          <a href="javascript:void(0);" id="dop-filter-mobile-link"
              style="display: none;padding: 10px;width: 100%;text-align: center;color: #fff;background: #eb3547;margin-bottom: 5px; margin-top: 10px;"><i
                class="fa far fa-chevron-circle-down"></i>&nbsp;Показать фильтр</a>
            <a href="javascript:void(0);" id="dop-filter-mobile-link-hide"
              style="display: none;padding: 10px;width: 100%;text-align: center;color: #fff;background: #eb3547;margin-bottom: 5px; margin-top: 10px;"><i
                class="fa far fa-chevron-circle-up"></i>&nbsp;Скрыть фильтр</a>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- tender Listing -->
<div class="alice-bg section-padding-bottom tender-details-page">
  <div class="container">
    <div class="row no-gutters">
      <div class="col">
        <div class="tender-listing-container">
          <div class="filtered-tender-listing-wrapper">



            <script>
              jQuery(document).ready(function ($) {

                if ($(window).width() < 767) {

                  $('#dop-filter-mobile-link').show();
                  $('#dop-filter-mobile-link').click(function () {

                    $('.dop-filter-mobile').slideToggle();
                    $('#dop-filter-mobile-link').hide();
                    $('#dop-filter-mobile-link-hide').show();
                    $('#dop-filter-mobile-link-hide2').show();

                  });

                  $('#dop-filter-mobile-link-hide').click(function () {

                    $('.dop-filter-mobile').slideToggle();
                    $('#dop-filter-mobile-link-hide').hide();
                    $('#dop-filter-mobile-link-hide2').hide();
                    $('#dop-filter-mobile-link').show();

                  });

                  $('#dop-filter-mobile-link-hide2').click(function () {

                    $('.dop-filter-mobile').slideToggle();
                    $('#dop-filter-mobile-link-hide').hide();
                    $('#dop-filter-mobile-link-hide2').hide();
                    $('#dop-filter-mobile-link').show();

                  });

                };

              });
            </script>

            <div class="dop-filter-mobile" style="display: none;">

              <div class="searchAndFilter-wrapper">
                <div class="searchAndFilter-block">
                  <div class="searchAndFilter">

                    <!-- {{ myFilter }} -->

                    <form method="get" id="main-searchform-mobile" onsubmit="return false;">

<!--                      <div class="form-group">-->
<!--                        <select class="form-control" id="orderby-mobile">-->
<!--                          <option value="">Сортировать по</option>-->
<!--                          <option value="title-LH">По алфавиту (Снизу вверх)</option>-->
<!--                          <option value="title-HL">По алфавиту (По убыванию)</option>-->

<!--                          <option value="date-LH">По дате (Снизу вверх)</option>-->
<!--                          <option value="date-HL">По дате (По убыванию)</option>-->

<!--                          <option value="price-LH">По сумме (Снизу вверх)</option>-->
<!--                          <option value="price-HL">По сумме (По убыванию)</option>-->
<!--                        </select>-->
<!--                      </div>-->

                      <h6 class="">Поиск по названию</h6>
                      <div class="form-group">
                        <!-- {% render_field myFilter.form.title class="form-control" placeholder="Введите название лота" %} -->
                        <input type="text" class="form-control searchform-name-input" name="title" value="{{request.GET.title}}"
                          placeholder="Введите название лота">
                      </div>
<!--                        <div class="form-check">-->
<!--                        <input type="checkbox" name="searchby3charmobile" class="form-check-input" id="searchby3charmobile" checked>-->
<!--&lt;!&ndash;                        <label class="form-check-label" for="searchby3charmobile">search by 3 character</label>&ndash;&gt;-->
<!--                      </div>-->

                      <h6 class="">Заказчик, БИН</h6>
                      <div class="form-group">
                        <!-- {% render_field myFilter.form.body class="form-control" placeholder="Заказчик, БИН" %} -->
                        <input type="text" class="form-control" name="customer" value="{{request.GET.customer}}"
                          placeholder="Заказчик, БИН">
                      </div>

<!--                      <h6 class="">Способ закупки</h6>-->
<!--                      <div class="form-group">-->
<!--                        &lt;!&ndash; {% render_field myFilter.form.statzakup class="form-control" %} &ndash;&gt;-->
<!--                        <select name="statzakup" id="statzakup_id" class="form-control" title="Способ закупки">-->
<!--                          <option value="" {% if available %} selected {% endif %}>Выберите способ закупки</option>-->
<!--                          {% for choice in PURCHASE_METHOD_CHOICES %}-->
<!--                          {% checklist choice.0 request 'statzakup[]' as available %}-->
<!--                          <option value="{{choice.0}}" {% if available %} selected {% endif %}>{{choice.1}}</option>-->
<!--                          {% endfor%}-->
<!--                        </select>-->
<!--                      </div>-->

                      <h6 class="">Регион</h6>
                      <div class="form-group">
                        <select name="city" id="city_id" class="form-control" title="Регион">
<!--                          <option value="" {% if available %} selected {% endif %}>Все</option>-->
                          {% for city in cities %}
                          {% checklist city.id request 'city[]' as available %}
                          <option value="{{city.id}}" {% if available %} selected {% endif %}>{{city.name}}</option>
                          {% endfor%}
                        </select>
                      </div>

<!--                      <h6 class="">Предмет закупки</h6>-->
<!--                      <div class="form-group">-->
<!--                        <select name="subject_of_purchase" id="subject_of_purchase" class="form-control" title="Предмет закупки">-->
<!--                          <option value="" {% if available %} selected {% endif %}>Выберите предмет закупки</option>-->
<!--                          {% for choice in SUBJECT_OF_PURCHASE_CHOICES %}-->
<!--                          {% checklist choice.0 request 'subject_of_purchase[]' as available %}-->
<!--                          <option value="{{choice.0}}" {% if available %} selected {% endif %}>{{choice.1}}</option>-->
<!--                          {% endfor%}-->
<!--                        </select>-->
<!--                      </div>-->

                      <h6 class="">Сумма лота</h6>
                      <div class="form-group">
                        <!-- {% render_field myFilter.form.price class="form-control" %} -->
                        <input type="number" min="0" class="form-control" name="price_min" value="{{requestt.GET.price_min}}"
                          placeholder="Сумма от" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))">
                        <input type="number" min="0" class="form-control" name="price_max" value="{{requestt.GET.price_max}}"
                          placeholder="Сумма до" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))">
                      </div>

                      <h6 class="">Дата</h6>
                      <div class="form-group">
                        <!-- {% render_field myFilter.form.date class="form-control"  %} -->
                        <input type="date" name="date_min" placeholder="Начало приема заявок" class="form-control"
                          value="{{request.GET.date_min}}" data-format="yyyy-mm-dd">
                      </div>
                      <div class="form-group">
                        <input type="date" name="date_max" placeholder="Окончание приема заявок"
                          class="form-control" value="{{request.GET.date_max}}" data-format="yyyy-mm-dd">
                      </div>

                      <h6 class="">Поиск лота</h6>
                      <div class="form-group">
                        <!-- {% render_field myFilter.form.id class="form-control" placeholder="Введите номер лота" %} -->
                        <input type="text" class="form-control" placeholder="Введите номер лота" name="id"
                          value="{{request.GET.id}}">
                      </div>

                      <!-- this will identified which paage result should be return main page or lots page  -->
                      <input type="hidden" name="lots" value="true">

                      <div class="form-group">
                        <button type="submit" class="button width-100 text-center lots-search-button-mobile">
                          <span class="glyphicon glyphicon-search"></span>
                          НАЙТИ
                        </button>

                        <button class="button width-100 primary mt-2 reset-mobile" type="reset">Сбросить фильтр</button>
                      </div>

                      <div style="text-align: center; margin-bottom: 20px;">
                        {% if request.user.is_authenticated%}
                        <!-- is user authenticated  -->
                        {% is_favorited request as is_favorite %}
                        <!-- is this query favorites  -->
                        <input type="hidden" id="savedId" value="{{request.GET.item_id}}">
                          {% if  is_favorite  %}

                        <span id="save-query-mobile">
                          <a href="javascript:void(0);"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Удалить из Избранного</a>
                          <i class="fas fa-star"></i>
                        </span>
                        {% else %}
                        <span id="save-query-mobile">
                          <a href="javascript:void(0);">Сохранить в избранные</a>
                          <i class="far fa-star"></i>
                        </span>
                        {% endif %}
                        {% else %}
                        <a href="{% url 'login' %}">Сохранить в избранные&nbsp;<i class="far fa-star"></i></a>
                        {% endif %}
                      </div>
                    </form>

                  </div>
                </div>
              </div>

            </div>


<!--            <div class="tender-view-controller-wrapper article-list-page">-->
<!--              <div class="row">-->

<!--                <div class="col-md-6" style="display: none;">-->
<!--                  <div class="tender-view-controller">-->
<!--                    <div class="tender-view-filter">-->
<!--                      <div class="form-group">-->
<!--                        <select class="form-control" id="orderby">-->
<!--                          <option value="">Сортировать по</option>-->
<!--                          <option value="title-LH">По алфавиту (Снизу вверх)</option>-->
<!--                            <option value="title-HL">По алфавиту (По убыванию)</option>-->

<!--                            <option value="date-LH">По дате (Снизу вверх)</option>-->
<!--                            <option value="date-HL">По дате (По убыванию)</option>-->

<!--                            <option value="price">По сумме (Снизу вверх)</option>-->
<!--                            <option value="price">По сумме (По убыванию)</option>-->
<!--                        </select>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-12 showing-number">-->
<!--                  <span>Показано {{posts_start_index}}–{{posts_end_index}} из {{total_posts}}</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

            <div id="input-container" class="">
              <!-- this place holder is required will be placed filtered result -->
              <div class="tender-filter-result xs-padding-0">
                {% for article in posts %}

                <div class="item">
                  <div class="tender-list half-grid" style="display: block;">

                      <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-9">
                          <h4 class="lot-name"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
                        </div>
                        <div class="col-md-3">
                          <span class="price">{{ article.price }} тг</span>
                        </div>
                      </div>

                      <div style="clear: both;"></div>

                      <div class="row">

                        <div class="col-md-9">

                          <table class="table table-borderless">
                            <tbody>

                              <tr>
                                <td>Дата начала:</td>
                                <td style="text-align: right;">{{ article.date_open|date:"d.m.Y:h:m:s" }}</td>
                              </tr>

                              <tr>
                                <td>Дата завершения:</td>
                                <td style="text-align: right;">{{ article.date|date:"d.m.Y:h:m:s" }}</td>
                              </tr>

                              <tr>
                                <td>Место поставки:</td>
                                <td style="text-align: right;">{{ article.region }} {{ article.city }}</td>
                              </tr>

                              <tr style="font-style: italic;">
                                <td>До завершения:</td>
                                <td style="text-align: right;">{{ article.date|naturaltime }}</td>
                              </tr>
                            </tbody>
                          </table>

                        </div>

                        <div class="col-md-3">

                          <div class="buttons">
                            <a href="{{ article.get_absolute_url }}" class="more-button">ПОДРОБНЕЕ</a>
                              {% if request.user.is_authenticated %}
                                    {% is_favourite_post article request as is_favourite %}
                                    {% if is_favourite %}
                                        <a href="#" class="featured-button favourite-post-ajax" data-article_id="{{article.id}}" data-url="{% url 'favourite_post_ajax' ID=article.id %}" style="background-color: #FFC107!important;font-weight: bold;">В избранные</a>
                                    {% else %}
                                        <a href="#" class="featured-button favourite-post-ajax" data-article_id="{{article.id}}" data-url="{% url 'favourite_post_ajax' ID=article.id %}">В избранные</a>
                                    {% endif %}
                              {% else %}
                                    <a href="{% url 'login' %}?next={{ request.path }}" class="featured-button">В избранные</a>
                              {% endif %}
                          </div>

                        </div>

                      </div>

                  </div>
                </div>


                {% empty %}
                <div class="item">
                  <p>Не найден соответсвующий тендер</p>
                </div>
                {% endfor %}
              </div>

              <div class="pagination-list text-center">

                <nav class="navigation pagination">
                  <div class="nav-links">
                    {% if posts.has_previous %}
                      <a class="prev page-numbers" href="?page=1"> << </a>
                      <a class="prev page-numbers" href="?page={{ posts.previous_page_number }}" style="width: 55px;"> < </a>
                    {% endif %}
                    {% if posts.number|add:'-2' > 1 %}
                        <a href="#" aria-controls=""  tabindex="0" class="page-numbers">&hellip;</a>
                    {% endif %}
                    {% for p in posts.paginator.page_range %}
                            {% if posts.number == p %}
                                <a aria-current="page" href="?page={{ p }}" class="page-numbers current">{{ p }}</a>
                            {% elif p > posts.number|add:'-5' and p < posts.number|add:'5' %}
                                <a aria-current="page" href="?page={{ p }}" class="page-numbers">{{ p }}</a>

                            {% endif %}
                    {% endfor %}
                      {% if posts.paginator.num_pages > posts.number|add:'2' %}
                          <a href="#" data-dt-idx="{{ i }}"  class="page-numbers">&hellip;</a>
                        {% endif %}
                    {% if posts.has_next %}
                      <a class="next page-numbers" href="?page={{ posts.next_page_number }}"> > </a>
                      <a class="prev page-numbers" href="?page={{ total_pages }}"> >> </a>
                    {% endif %}
                  </div>
                </nav>
              </div>

            </div>

          </div>

          <div class="tender-filter-wrapper pc-dop-filter">
            <div data-id="tender-type" class="tender-filter tender-type same-pad">
              <form method="get" id="main-searchform-pc" onsubmit="return false;">


<!--                <div class="form-group">-->
<!--                  <select class="form-control" id="orderby-pc">-->
<!--                    <option value="">Сортировать по</option>-->

<!--                    <option value="title-LH">По алфавиту (Снизу вверх)</option>-->
<!--                    <option value="title-HL">По алфавиту (По убыванию)</option>-->

<!--                    <option value="date-LH">Свидание (Снизу вверх)</option>-->
<!--                    <option value="date-HL">Свидание (По убыванию)</option>-->

<!--                    <option value="price-LH">По сумме (Снизу вверх)</option>-->
<!--                    <option value="price-HL">По сумме (По убыванию)</option>-->
<!--                  </select>-->
<!--                </div>-->

                <h6 class="">Поиск по названию</h6>
                <div class="form-group">
                  <!-- {% render_field myFilter.form.title class="form-control" placeholder="Введите название лота" %} -->
                  <input type="text" class="form-control searchform-name-input" name="title" value="{{request.GET.title}}"
                    placeholder="Введите название лота">
                </div>
<!--                  <div class="form-check">-->
<!--                    <input type="checkbox" name="searchby3char" class="form-check-input" id="searchby3char" checked>-->
<!--                    <label class="form-check-label" for="searchby3char">search by 3 character</label>-->
<!--                  </div>-->

                <h6 class="">Заказчик, БИН</h6>
                <div class="form-group">
                  <!-- {% render_field myFilter.form.body class="form-control" placeholder="Заказчик, БИН" %} -->
                  <input type="text" class="form-control" name="customer" value="{{request.GET.customer}}"
                    placeholder="Заказчик, БИН">
                </div>

<!--                <h6 class="">Способ закупки</h6>-->
<!--                <div class="form-group">-->
<!--                  &lt;!&ndash; {% render_field myFilter.form.statzakup class="form-control" %} &ndash;&gt;-->
<!--                  <select name="statzakup" id="statzakup_id" class="form-control" title="Способ закупки">-->
<!--                    <option value="" {% if available %} selected {% endif %}>Выберите способ закупки</option>-->
<!--                    {% for choice in PURCHASE_METHOD_CHOICES %}-->
<!--                    {% checklist choice.0 request 'statzakup[]' as available %}-->
<!--                    <option value="{{choice.0}}" {% if available %} selected {% endif %}>{{choice.1}}</option>-->
<!--                    {% endfor%}-->
<!--                  </select>-->
<!--                </div>-->

                <h6 class="">Регион</h6>
                <div class="form-group">
                  <select name="region" id="region_id" class="form-control" title="Регион">
<!--                    <option value="" {% if available %} selected {% endif %}>Все</option>-->
                 <option value="">Выберите область</option>
                    {% for region in regions %}
                    {% checklist city.id request 'region[]' as available %}
                    <option value="{{region.id}}" {% if available %} selected {% endif %}>{{region.name}}</option>
                    {% endfor%}
                  </select>
                </div>

                   <h6 class="">City</h6>
                <div class="form-group">
                  <select name="city" id="city_id" class="form-control" title="Регион">
<!--                    <option value="" {% if available %} selected {% endif %}>Все</option>-->
                 <option value="">Выберите местоположение</option>
                    {% for city in cities %}
                    {% checklist city.id request 'city[]' as available %}
                    <option value="{{city.id}}" {% if available %} selected {% endif %}>{{city.name}}</option>
                    {% endfor%}
                  </select>
                </div>

<!--                <h6 class="">Предмет закупки</h6>-->
<!--                <div class="form-group">-->
<!--                  <select name="subject_of_purchase" id="subject_of_purchase" class="form-control" title="Предмет закупки">-->
<!--                    <option value="" {% if available %} selected {% endif %}>Выберите предмет закупки</option>-->
<!--                    {% for choice in SUBJECT_OF_PURCHASE_CHOICES %}-->
<!--                    {% checklist choice.0 request 'subject_of_purchase[]' as available %}-->
<!--                    <option value="{{choice.0}}" {% if available %} selected {% endif %}>{{choice.1}}</option>-->
<!--                    {% endfor%}-->
<!--                  </select>-->
<!--                </div>-->

                <h6 class="">Сумма лота</h6>
                <div class="form-group">
                  <!-- {% render_field myFilter.form.price class="form-control" %} -->
                  <input type="number" min="0" class="form-control" name="price_min" value="{{requestt.GET.price_min}}"
                    placeholder="Сумма от" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))">
                  <input type="number" min="0" class="form-control" name="price_max" value="{{requestt.GET.price_max}}"
                    placeholder="Сумма до" onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))">
                </div>

                <h6 class="">Дата</h6>
                <div class="form-group">
                  <!-- {% render_field myFilter.form.date class="form-control"  %} -->
                  <input type="date" name="date_min" placeholder="Начало приема заявок" class="form-control"
                    value="{{request.GET.date_min}}" data-format="yyyy-mm-dd">
                </div>
                <div class="form-group">
                  <input type="date" name="date_max" placeholder="Окончание приема заявок"
                    class="form-control" value="{{request.GET.date_max}}" data-format="yyyy-mm-dd">
                </div>

                <h6 class="">Поиск лота</h6>
                <div class="form-group">
                  <!-- {% render_field myFilter.form.id class="form-control" placeholder="Введите номер лота" %} -->
                  <input type="text" class="form-control" placeholder="Введите номер лота" name="id"
                    value="{{request.GET.id}}">
                </div>

                <!-- this will identified which paage result should be return main page or lots page  -->
                <input type="hidden" name="lots" value="true">

                <div class="form-group">
                  <button type="submit" class="button width-100 text-center lots-search-button-pc">
                    <span class="glyphicon glyphicon-search"></span>
                    НАЙТИ
                  </button>

                  <button class="button width-100 primary mt-2 reset-pc" type="reset">Сбросить фильтр</button>
                </div>

                <div style="text-align: center;">
                  {% if request.user.is_authenticated%}
                  <!-- is user authenticated  -->
                  {% is_favorited request as is_favorite %}
                  <!-- is this query favorites  -->
                  <input type="hidden" id="savedId" value="{{request.GET.item_id}}">
                    {% if  is_favorite  %}

                  <span id="save-query-pc">
                    <a href="javascript:void(0);"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Удалить из Избранного</a>
                    <i class="fas fa-star"></i>
                  </span>
                  {% else %}
                  <span id="save-query-pc">
                    <a href="javascript:void(0);">Сохранить в избранные</a>
                    <i class="far fa-star"></i>
                  </span>
                  {% endif %}
                  {% else %}
                  <a href="{% url 'login' %}">Сохранить в избранные&nbsp;<i class="far fa-star"></i></a>
                  {% endif %}
                </div>
              </form>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<!-- tender Listing End -->


{% include "blocks/footer.html" %}