{% extends 'base.html' %}
{% load humanize %}
{% load format_price %}

<!-- article_detail.html -->
{% block content %}
<!-- Breadcrumb -->
<div class="breadcrumb-top alice-bg padding-top-30 padding-bottom-30">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-area">
          <h1>{{ post.title }}{{ object.title }}</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<div class="alice-bg section-padding-bottom tender-details-page">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="tender-listing-details">

          <div class="details-information">

            <div class="row">
              <div class="col-xl-7 col-lg-8">
                <div class="personal-information details-section">
                  <h4><i data-feather="align-left"></i> {{ post.title }}</h4>

                  <table class="table">
                    <tbody>
                      <tr>
                        <td><b>Полное имя лота:</b></td>
                        {% if post.lotFullName %}
                            <td>{{ post.lotFullName }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                      </tr>
                      <tr>
                        <td><b>Сумма лота:</b></td>
                        {% if post.price %}
                        {% format_price post as formatted_price %}
                            <td>{{ formatted_price }} тг.</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                      </tr>
                      <!--<tr>-->
                        <!--<td><b>Количество:</b></td>-->
                        <!--<td>{{ post.count }} </td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                          <!--<td><b>Единица измерения:</b></td>-->
                          <!--<td>{{ post.unit }} </td>-->
                          <!--</tr>-->
                          <!--{% if request.user.is_authenticated %}
                          {% if istariff %}
                              <tr>
                                <td><b>Способ закупки:</b></td>
                                <td><a href="{% url 'tariff' %}" style="font-weight: 400;color:blue;">Для просмотра подключите тариф</a></td>
                              </tr>
                              {% else %}
                              <tr>
                                <td><b>Способ закупки:</b></td>
                                {% if post.get_statzakup_display %}
                                    <td>{{ post.get_statzakup_display }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                              </tr>
                        {% endif %}
                      {% else %}
                            <tr>
                                <td><b>Способ закупки:</b></td>
                                <td><a href="{% url 'tariff' %}" style="font-weight: 400;color:blue;">Для просмотра подключите тариф</a></td>
                              </tr>
                      {% endif %} -->
                      <tr>
                        <td><b>Дата старта: </b></td>
                        {% if post.date_open %}
                            <td>{{ post.date_open }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                      </tr>
                      <tr>
                        <td><b>Дата закрытия:  </b></td>
                        {% if post.date %}
                            <td>{{ post.date }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                      </tr>
                      <tr>
                        <td><b>До завершения: </b></td>
                        {% if dat3 %}
                            <td>{{ dat3|naturaltime }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                      </tr>
                      {% if request.user.is_authenticated %}
                        {% if istariff%}
                              <tr>
                                <td><b>Заказчик:</b></td>
                                <td><a href="http://info.tendernet.kz/tariff" style="font-weight: 400;color:blue;">Для просмотра подключите тариф</a></td>
                              </tr>
                              {% else %}
                              <tr>
                                <td><b>Заказчик:</b></td>
                                {% if post.customer %}
                                    <td>{{ post.customer }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                              </tr>
                        {% endif %}
                      {% else %}
                            <tr>
                                <td><b>Заказчик:</b></td>
                                <td><a href="{% url 'login'  %}" style="font-weight: 400;color:blue;">Для просмотра авторизуйтесь</a></td>
                              </tr>
                      {% endif %}
                      <tr>
                        <td><b>Область:</b></td>
                        {% if post.region %}
                            <td>{{ post.region }}</td>
                        {% else %}
                          <td></td>
                        {% endif %}
                      </tr>
                      <tr>
                        <td><b>Местоположение:</b></td>
                        {% if post.city %}
                            <td>{{ post.city }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                      </tr>
                      {% if request.user.is_authenticated %}
                                {% if istariff %}
                                <tr>
                                    <td><b>Адрес:</b></td>
                                    <td><a href="http://info.tendernet.kz/tariff" style="font-weight: 400;color:blue;">Для просмотра подключите тариф</a></td>
                                  </tr>
                                  {% else %}
                                  <tr>
                                    <td><b>Адрес:</b></td>
                                    {% if post.addressFull %}
                                        <td>{{ post.addressFull }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                  </tr>
                                {% endif %}
                      {% else %}
                            <tr>
                                <td><b>Адрес:</b></td>
                                <td>
                                  <a href="{% url 'login' %}" style="font-weight: 400;color:blue;">Для просмотра авторизуйтесь</a>
                                </td>
                              </tr>
                      {% endif %}
                      <!--<tr>-->
                        <!--<td><b>Предмет закупки:</b></td>-->
                        <!--<td>{{ post.itemZakup }}</td>-->
                        <!--</tr>-->
                      <tr>
                        <td><b>Номер лота:</b></td>
                        {% if post.id %}
                            <td>{{ post.id }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                      </tr>
                      <tr>
                        <td><b>Количество</b></td>
                        <td>{{post.count}}</td>
                      </tr>
                      <tr>
                        <td><b>Единица измерения</b></td>
                        {% if post.unit %}
                          <td>{{post.unit.name}}</td>
                        {% endif %}
                      </tr>
                      <tr>
                        <td><b>Способ закупки</b></td>
                        <td>{{post.statzakup}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <hr><br>

                  <div class="buttons">
                    {% if request.user.is_authenticated %}
                    {% if is_favourite %}
                    <!-- <a class="apply" href="{% url 'favourite_post' ID=post.id %}" style="background: #ffe004; color: #000;"><i class="fas fa-star"></i> Добавлено в избранное</a> -->
                    <a class="apply bg-yellow-btn" href="{% url 'favourite_post' ID=post.id %}" style="font-weight: 400;"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Удалить из Избранного</a>
                    {% else %}
                    <a class="apply" href="{% url 'favourite_post' ID=post.id %}" style="font-weight: 400;"><i class="far fa-star"></i>
                      Добавить в избранное</a>
                    {% endif %}
                    {% else %}
                    <a class="apply un-authorized" href="{% url 'login' %}?next={{ request.path }}" target="_blank" style="font-weight: 400;"><i class="far fa-star"></i>
                      Добавить в избранное</a>
                    {% endif %}
                    <br>
                  </div>
                  <div>
                    <br>
                    <h6 class="margin-bottom-10">Поделиться в соц. сетях:</h6>

                    <script type="text/javascript">(function(w,doc) {
                    if (!w.__utlWdgt ) {
                        w.__utlWdgt = true;
                        var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
                        s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                        s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
                        var h=d[g]('body')[0];
                        h.appendChild(s);
                    }})(window,document);
                    </script>
                    <div data-mobile-view="true" data-share-size="30" data-like-text-enable="false" data-background-alpha="0.0" data-pid="1883085" data-mode="share" data-background-color="#ffffff" data-share-shape="rectangle" data-share-counter-size="12" data-icon-color="#ffffff" data-mobile-sn-ids="fb.vk.tw.ok.wh.tm.vb." data-text-color="#000000" data-buttons-color="#FFFFFF" data-counter-background-color="#ffffff" data-share-counter-type="disable" data-orientation="horizontal" data-following-enable="false" data-sn-ids="wh.tm.em." data-preview-mobile="false" data-selection-enable="false" data-exclude-show-more="true" data-share-style="1" data-counter-background-alpha="1.0" data-top-button="false" class="uptolike-buttons" ></div>

                  </div>
                  
                  {% include "blocks/chat.html" %}

                </div>

              </div>
              <div class="col-xl-4 offset-xl-1 col-lg-4 xs-disply-none">
                <div class="information-and-share">

                  <div class="tender-summary">
                    <div class="buttons">
                      {% if request.user.is_authenticated %}
                          <form id="form_buying_product" class="form-inline form_buying_product" action="{% url 'basket_adding_lot' %}"
                            style="width: 100%;">
                            {% csrf_token %}
                            <button type="button" id="submit_btn1" class="button contact-button"
                              data-product_id1="{{ post.id }}" 
                              data-user_id1="{{ request.user.id }}" 
                              data-request_path1="{{ request.path }}"
                              data-user_tarif="{{ request.user.profile.tarif.name }}"
                              style="display: block;width: 100%;text-align: center;margin-bottom: 10px;"
                              >
                              Участвовать
                            </button>
                          </form>

                      {% else %}
                          <a href="{% url 'login' %}?next={{ request.path }}"  target="_blank" class="un-authorized"><button class="button contact-button"
                              style="display: block;width: 100%;text-align: center;margin-bottom: 10px;">Участвовать</button></a>
                      {% endif %}

                      {% if request.user.is_authenticated  %}
                          {% if post.yst %}
                              {% if istariff %}
                                  <a href="http://info.tendernet.kz/tariff" class="save doc-download" target="_blank" data-free="free" onclick="return confirm('Чтобы посмотреть детали, поменяйте ваш тариф')"
                                style="display: block;width: 100%;text-align: center;margin-right: 0;margin-bottom: 10px;"><i
                                  class="fa fa-download"></i>&nbsp;Скачать документацию</a>
                              {% else %}
                                  <a href="{{ post.yst }}"  class="save doc-download" target="_blank" data-free="other"
                                style="display: block;width: 100%;text-align: center;margin-right: 0;margin-bottom: 10px;"><i
                                  class="fa fa-download"></i>&nbsp;Скачать документацию</a>
                              {% endif %}
                          {% else %}
                              <a href="http://info.tendernet.kz/tariff" class="save doc-download" target="_blank"
                            style="display: block;width: 100%;text-align: center;margin-right: 0;margin-bottom: 10px;"><i
                              class="fa fa-download"></i>&nbsp;Скачать документацию</a>
                          {% endif %}
                      {% else %}
                        <a href="{% url 'login' %}?next={{ request.path }}" class="save un-authorized" target="_blank"
                        style="display: block;width: 100%;text-align: center;margin-right: 0;margin-bottom: 10px;"><i
                          class="fa fa-download"></i>&nbsp;Скачать документацию</a>

                      {% endif %}
                    </div>
                  </div>

                  <div class="tender-summary d-none" style="margin-top: 20px;">
                    <div class="buttons">
                      <h6 style="text-align: center; margin-bottom: 10px;">
                        Необходимые трудовые, материальные ресурсы 
                        для участия
                      </h6>
                      {% if request.user.is_authenticated %}
                        <form id="buying_doc" class="form-inline buying_doc" action="{% url 'basket_adding_doc' %}"
                          style="width: 100%;">
                          {% csrf_token %}
                          <button type="submit" id="submit_btn_doc" class="button contact-button"
                            data-product_id="{{ post.id }}" data-user_id="{{ request.user.id }}" data-request_path="{{ request.path }}"
                            style="display: block;width: 100%;text-align: center;margin-bottom: 10px;"
                            >Запросить аудит</button>
                        </form>
                      {% else %}
                      <a href="{% url 'login' %}?next={{ request.path }}" target="_blank" class="un-authorized"><button
                          class="button contact-button">Запросить аудит</button></a>

                      {% endif %}
                      <a href="/static/files/audit_example.pdf" target="_blank">Образец аудита&nbsp;<i class="fa fa-link" style="color: #fff;"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <div class="row" style="display: none;">
              <div class="personal-information details-section" style="width: 100%;">
                <h4><i data-feather="align-left"></i> Список необходимых документов</h4>

                <iframe width="100%" style="min-height: 400px"
                  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTQgmT2h0qcXRGmRsYrZ5U2CZIsje3pXdto43oiYNibrONBTemcIr_zSIO744nenq0dieGQbAcrNZEY/pubhtml?widget=true&amp;headers=false"></iframe>

                <div class="table-responsive" style="display: none;">

                  <style>
                    .table-responsive-stack tr {
                      display: -webkit-box;
                      display: -ms-flexbox;
                      display: flex;
                      -webkit-box-orient: horizontal;
                      -webkit-box-direction: normal;
                      -ms-flex-direction: row;
                      flex-direction: row;
                    }


                    .table-responsive-stack td,
                    .table-responsive-stack th {
                      display: block;
                      /*
                       flex-grow | flex-shrink | flex-basis   */
                      -ms-flex: 1 1 auto;
                      flex: 1 1 auto;
                    }

                    .table-responsive-stack .table-responsive-stack-thead {
                      font-weight: bold;
                    }

                    @media screen and (max-width: 768px) {
                      .table-responsive-stack tr {
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        border-bottom: 3px solid #ccc;
                        display: block;

                      }

                      /*  IE9 FIX   */
                      .table-responsive-stack td {
                        float: left\9;
                        width: 100%;
                      }
                    }
                  </style>
                  <script>
                    $(document).ready(function () {

                      // inspired by http://jsfiddle.net/arunpjohny/564Lxosz/1/
                      $('.table-responsive-stack').find("th").each(function (i) {

                        $('.table-responsive-stack td:nth-child(' + (i + 1) + ')').prepend('<div class="table-responsive-stack-thead">' + $(this).text() + ':</div> ');
                        $('.table-responsive-stack-thead').hide();
                      });

                      $('.table-responsive-stack').each(function () {
                        var thCount = $(this).find("th").length;
                        var rowGrow = 100 / thCount + '%';
                        //console.log(rowGrow);
                        $(this).find("th, td").css('flex-basis', rowGrow);
                      });

                      function flexTable() {
                        if ($(window).width() < 768) {

                          $(".table-responsive-stack").each(function (i) {
                            $(this).find(".table-responsive-stack-thead").show();
                            $(this).find('thead').hide();
                          });

                          // window is less than 768px
                        } else {
                          $(".table-responsive-stack").each(function (i) {
                            $(this).find(".table-responsive-stack-thead").hide();
                            $(this).find('thead').show();
                          });

                        }
                        // flextable
                      }

                      flexTable();

                      window.onresize = function (event) {
                        flexTable();
                      };

                      // document ready
                    });
                  </script>

                  <table class="table table-bordered table-striped table-responsive-stack" id="tableOne">
                    <thead class="thead-dark">
                      <tr>
                        <th class="w-50">Наименование документа</th>
                        <th class="w-25">Обязательность для поставщика</th>
                        <th class="w-25">Действие</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Конкурсная документация</td>
                        <td>Нет</td>
                        <td>
                          <a href="javascript:void(0);" class="save"
                            style="display: block;width: 100%;margin-right: 0;"><i class="fa fa-eye"></i>&nbsp;Смотреть
                            документацию</a>
                        </td>
                      </tr>
                      <tr>
                        <td>Проект договора об электронных закупках</td>
                        <td>Нет</td>
                        <td>
                          <a href="javascript:void(0);" class="save"
                            style="display: block;width: 100%;margin-right: 0;"><i class="fa fa-eye"></i>&nbsp;Смотреть
                            документацию</a>
                        </td>
                      </tr>
                      <tr>
                        <td>Приложение 1 (Перечень лотов)</td>
                        <td>Да</td>
                        <td>
                          <a href="javascript:void(0);" class="save"
                            style="display: block;width: 100%;margin-right: 0;"><i class="fa fa-eye"></i>&nbsp;Смотреть
                            документацию</a>
                        </td>
                      </tr>
                      <tr>
                        <td>Приложение 1-4 (Квалификационные требования, предъявляемые к потенциальному поставщику при
                          осуществлении государственных закупок услуг)</td>
                        <td>Нет</td>
                        <td>
                          <a href="javascript:void(0);" class="save"
                            style="display: block;width: 100%;margin-right: 0;"><i class="fa fa-eye"></i>&nbsp;Смотреть
                            документацию</a>
                        </td>
                      </tr>
                      <tr>
                        <td>Приложение 2-3 (Техническая спецификация)</td>
                        <td>Да</td>
                        <td>
                          <a href="javascript:void(0);" class="save"
                            style="display: block;width: 100%;margin-right: 0;"><i class="fa fa-eye"></i>&nbsp;Смотреть
                            документацию</a>
                        </td>
                      </tr>
                      <tr>
                        <td>Приложение 4 (Соглашение об участии в конкурсе) Да
                          (/uploads/template/konkurs_application_4.docx)</td>
                        <td>Да</td>
                        <td>
                          Нет действий
                        </td>
                      </tr>
                      <tr>
                        <td>Приложение 6 (Сведения о квалификации Поставщика при закупках услуг)
                          (/uploads/template/konkurs_application_6.docx)</td>
                        <td>Да</td>
                        <td>
                          Нет действий
                        </td>
                      </tr>
                      <tr>
                        <td>Приложение 8 (Обеспечение заявки) Да (/uploads/template/konkurs_application_8.docx)</td>
                        <td>Да</td>
                        <td>
                          Нет действий
                        </td>
                      </tr>
                      <tr>
                        <td>Приложение 10 (Сведения о субподрядчиках по выполнению работ (соисполнителях при оказании
                          услуг)) / Документы по квалиф. требованиям Субподрядчиков
                          (/uploads/template/konkurs_application_10.docx)</td>
                        <td>Нет</td>
                        <td>
                          Нет действий
                        </td>
                      </tr>
                      <tr>
                        <td>Разрешения первой категории (Лицензии)</td>
                        <td>Да</td>
                        <td>
                          Нет действий
                        </td>
                      </tr>
                      <tr>
                        <td>Разрешения второй категории</td>
                        <td>Нет</td>
                        <td>
                          Нет действий
                        </td>
                      </tr>
                      <tr>
                        <td>Свидетельства, сертификаты, дипломы и другие Нет документы</td>
                        <td>Нет</td>
                        <td>
                          Нет действий
                        </td>
                      </tr>
                      <tr>
                        <td>Свидетельство о постановке на учет по НДС</td>
                        <td>Нет</td>
                        <td>
                          Нет действий
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div>

          </div>

        </div>

        <div class="mob-right-menu">
          <div class="information-and-share" style="margin-top: 20px;">

            <div class="tender-summary content-simm" style="padding: 0!important;">
              <div class="buttons">

                <script type="text/javascript">
                  function uchastvovatFunction() {
                    if (confirm("Вы действительно желаете участвовать?")) {
                      alert('Спасибо за обращение. В ближайшее время с вами свяжется менеджер. А пока сохраните этот лот в Избранные.');
                    } else {
                      return false;
                    }
                  }
                </script>

                {% if request.user.is_authenticated %}
                      <form id="form_buying_product" class="form-inline form_buying_product" action="{% url 'basket_adding_lot' %}"
                      style="width: 100%;">
                      {% csrf_token %}
                      <button type="submit" id="submit_btn1" class="button contact-button"
                        data-product_id1="{{ post.id }}" data-user_id1="{{ request.user.id }}" data-request_path1="{{ request.path }}"
                        style="display: block;width: 100%;text-align: center;margin-bottom: 10px;"
                       >
                        Участвовать
                      </button>
                    </form>

                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}"  target="_blank" class="un-authorized"><button class="button contact-button"
                        style="display: block;width: 100%;text-align: center;margin-bottom: 10px;">Участвовать</button></a>
                {% endif %}

                {% if request.user.is_authenticated  %}
                    {% if post.yst %}
                        {% if istariff %}
                            <a href="http://info.tendernet.kz/tariff" class="save doc-download" target="_blank" data-free="free" onclick="return confirm('Чтобы посмотреть детали, поменяйте ваш тариф')"
                          style="display: block;width: 100%;text-align: center;margin-right: 0!important;margin-bottom: 10px;"><i
                            class="fa fa-download"></i>&nbsp;Скачать документацию</a>
                        {% else %}
                            <a href="{{ post.yst }}"  class="save doc-download" target="_blank" data-free="other"
                          style="display: block;width: 100%;text-align: center;margin-right: 0!important;margin-bottom: 10px;"><i
                            class="fa fa-download"></i>&nbsp;Скачать документацию</a>
                        {% endif %}
                    {% else %}
                        <a href="http://info.tendernet.kz/tariff" class="save doc-download" target="_blank"
                      style="display: block;width: 100%;text-align: center;margin-right: 0!important;margin-bottom: 10px;"><i
                        class="fa fa-download"></i>&nbsp;Скачать документацию</a>
                    {% endif %}
                {% else %}
                  <a href="{% url 'login' %}?next={{ request.path }}" class="save un-authorized" target="_blank"
                  style="display: block;width: 100%;text-align: center;margin-right: 0!important;margin-bottom: 10px;"><i
                    class="fa fa-download"></i>&nbsp;Скачать документацию</a>

                {% endif %}
              </div>
            </div>

            <div class="tender-summary d-none" style="margin-top: 20px;">
              <div class="buttons">

                <script type="text/javascript">
                  function documentFunction() {
                    if (confirm("Вы запрашиваете \"Аудит конкурсной документации\"\nУзнайте, какие ресурсы необходимы для участия в этом тендере.")) {
                        alert('Спасибо за обращение. В ближайшее время с вами свяжется менеджер\nА пока сохраните этот лот в Избранные');
                    } else {
                      return false;
                    }
                  }
                </script>

                <h6 style="text-align: center; margin-bottom: 10px;">Необходимые трудовые, материальные ресурсы
                  для участия</h6>
                  {% if request.user.is_authenticated %}
                       <form id="buying_doc" class="form-inline buying_doc" action="{% url 'basket_adding_doc' %}"
                          style="width: 100%;">
                          {% csrf_token %}
                          <button type="submit" id="submit_btn_doc" class="button contact-button"
                            data-product_id="{{ post.id }}" data-user_id="{{ request.user.id }}" data-request_path="{{ request.path }}"
                            style="display: block;width: 100%;text-align: center;margin-bottom: 10px;"
                            >Запросить аудит</button>
                        </form>
                {% else %}
                  <a href="{% url 'login' %}?next={{ request.path }}" target="_blank" class="un-authorized"><button
                    class="button contact-button">Запросить аудит</button></a>

                {% endif %}
                <a href="/static/files/audit_example.pdf" target="_blank">Образец аудита&nbsp;<i class="fa fa-link" style="color: #fff;"></i></a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- this modal will show when user press participate button  -->
{% include "blocks/feedback-modal.html" %}

{% endblock content %}


{% block jsscript%}

<script>
  $(document).on("click", ".nav-links.request a", function(event) {
    event.preventDefault();
    var data = {};
    data["page"] = parseInt($(this).attr("data-page"));
    $.ajax({
          method: 'GET',
          url: "{% url 'post_detail' id=post.id slug=post.slug %}",
          data: data,
          success: function (resp) {
              $("#request-content").html(resp);
          },
          error: function (err) {
            console.log(err.responseText);
          }
    });
  });
</script>
{% endblock jsscript %}