{% include 'blocks/header.html' %}

{% block content %}
 <div style="position: relative; top: 90px; margin-bottom: 20%; text-align: left; left: 2vw;">
    <span >Ваш адрес электронной почты был активирован.</span><br/>
    <span>Вы можете закрыть эту страницу или перейти на &nbsp;&nbsp;<a href="/lots/"><input type="submit" style="width: fit-content;background-color: #eb3547;border: none;color: #fff;" class="btn btn-primary btn-lg" value="Поиск лотов"></a></span>
</div>
{% endblock %}

{% include "blocks/footer.html" %}