{% include "blocks/header.html" %}
        <!-- Breadcrumb -->
            <div class="breadcrumb-top alice-bg padding-top-30 padding-bottom-30">
                <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Избранные поиски</h1>
                        <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Избранные поиски</li>
                        </ol>
                        </nav>
                    </div>
                    </div>
                    <div class="col-md-6" style="display: none;">
                    <div class="breadcrumb-form">
                        <form action="#">
                        <input type="text" placeholder="Поиск по названию">
                        <button><i data-feather="search"></i></button>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        <!-- Breadcrumb End -->
        <div class="section-padding-bottom alice-bg favorite-search-page">
          <div class="container section-padding-bottom">
              <div class="row" style="margin-left: 0; margin-right: 0;">
                  <div class="col-md-12">
                      {% for message in messages %}
                          <div class="alert alert-{{message.tags}} mt-2">{{message}}</div>
                      {% endfor %}
                  </div>

                  <div class="tender-view-controller-wrapper favorites-buttons buttons">
                    <a href="{% url 'post_favourite_list' %}" class="favorites-buttons-tenders save"><i class="fa fa-star"></i>&nbsp;Избранные лоты</a>
                    <a href="{% url 'favorite_search_list' %}" class="favorites-buttons-search save active"><i class="fas fa-search"></i>&nbsp;Избранные поиски</a>
                  </div>

                  <div class="col-md-12 tender-filter-result"  style="padding-left:0px;padding-right:0px;">
                {% if favorite_searches %}
                      {% for search in favorite_searches%}

                      <div class="item">
                        <div class="tender-list half-grid">
                          <div class="body">
                            <div class="content">
                              <h4>
                                Поиск по названию:
                                {% if search.query.title %}
                                  <b>{{search.query.title}}</b>
                                {%else%}
                                <span style="color: #b5b5b5;">Ничего не введено</span>
                                {% endif %}
                              </h4>
                              <div class="info">
                                <div class="row">
                                  <div class="col-md-6">
                                    {% if search.query.customer %}
                                      Заказчик:<b>{{search.query.customer}}</b><br>
                                      {% else %}
                                      Заказчик:  Не выбран <br>
                                    {% endif %}

<!--                                    show city-->
                                    {% if search.region %}
                                      Область: <b>{{search.region.name}}</b>&nbsp;
                                      <br>
                                     {% else %}
                                      Область: Не выбран <br>
                                    {% endif %}

                                      {% if search.query.itemZakup %}
                                          Предмет закупки: <b>{{search.query.itemZakup}}</b>&nbsp;
                                          <br>
                                      {% else %}
                                        Предмет закупки: Не выбран <br>
                                    {% endif %}

                                      {% if search.query.id %}
                                          Номер лота: <b>{{search.query.id}}</b>&nbsp;
                                          <br>
                                      {% else %}
                                        Номер лота: Не выбран <br>
                                    {% endif %}


                                  </div>
                                  <div class="col-md-6">
                                      {% if search.query.price_min %}
                                        Сумма от:
                                      <b>{{search.query.price_min}}</b>
                                      <br>
                                    {% else %}
                                        Сумма от: Не выбран <br>
                                    {% endif %}

                                    {% if search.query.price_max %}
                                        Сумма до:
                                      <b>{{search.query.price_max}}</b>
                                      <br>
                                    {% else %}
                                        Сумма до: Не выбран <br>
                                    {% endif %}

                                    {% if search.query.date_min %}
                                        Дата начала:
                                      <b>{{search.query.date_min}}</b>
                                      <br>
                                    {% else %}
                                        Дата начала: Не выбран <br>
                                    {% endif %}

                                    {% if search.query.date_max %}
                                        Дата окончания:
                                      <b>{{search.query.date_max}}</b>
                                      <br>
                                    {% else %}
                                        Дата окончания: Не выбран <br>
                                    {% endif %}

                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="more">

                              <div class="buttons">
                              <form action="{% url 'post_list' %}" method="get">
                                 <input type="hidden" name="title" value="{{search.query.title}}">
                                 <input type="hidden" name="customer" value="{{search.query.customer}}">
                                 <input type="hidden" name="id" value="{{search.query.id}}">

                                  {% if search.region %}
                                    <input type="hidden" name="region" value="{{search.region.code}}">
                                 {% endif %}
                                   {% if search.city %}
                                    <input type="hidden" name="city" value="{{search.city.code}}">
                                 {% endif %}
                                  <input type="hidden" name="itemZakup" value="{{search.query.itemZakup}}">
                                 <input type="hidden" name="price_min" value="{{search.query.price_min}}">
                                 <input type="hidden" name="price_max" value="{{search.query.price_max}}">
                                 <input type="hidden" name="date_min" value="{{search.query.date_min}}">
                                 <input type="hidden" name="date_max" value="{{search.query.date_max}}">
                                 <input type="hidden" name="item_id" value="{{search.id}}">
                                 <button class="button">Открыть поиск</button>
                             </form>
                            </div>

                             <div class="remove-button" style="text-align: center; margin-top: 10px;">
                                 <a href="{% url 'remove_favorite_search' search.id %}?next={% url 'favorite_search_list' %}" class="confirmation" onclick="return confirm('Вы действительно хотите удалить этот поиск?')"><i class="fa fa-trash"></i>&nbsp;Удалить</a>
                             </div>

                            </div>
                          </div>
                        </div>
                      </div>

                      {% endfor %}
                      {% else %}
                        <div class="item">
                          <div class="tender-list half-grid">
                            <p>Сохраняйте критерии поиска и будьте в курсе всех тендеров</p>
                          </div>
                        </div>
        
                      {% endif %}

                      {% if favorite_searches.num_pages > 1 %}
                      <div class="pagination-list text-center">
                          <nav class="navigation pagination">
                              <div class="nav-links">
                              {% if favorite_searches.has_previous %}
                              <a class="prev page-numbers" href="?page={{ favorite_searches.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
                              {% endif %}

                              {% for p in favorite_searches.paginator.page_range %}
                              {% if favorite_searches.number == p %}
                              <a aria-current="page" href="?page={{ p }}" class="page-numbers current">{{ p }}</a>
                              {% else %}
                              <a class="page-numbers" href="?page={{ p }}">{{ p }}</a>

                              {% endif %}
                              {% endfor %}


                              {% if favorite_searches.has_next %}
                              <a class="next page-numbers" href="?page={{ favorite_searches.next_page_number }}"><i class="fas fa-angle-right"></i></a>
                              {% endif %}

                              </div>
                          </nav>
                      </div>
                      {% endif %}
                  </div>
              </div>
          </div>
        </div>
{% include "blocks/footer.html" %}