{% include "blocks/header.html" %}
        <!-- Breadcrumb -->
            <div class="breadcrumb-top alice-bg padding-top-30 padding-bottom-20">
                <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Favorite Search List</h1>
                        <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Favorite Search List</li>
                        </ol>
                        </nav>
                    </div>
                    </div>
                    <div class="col-md-6" style="display: none;">
                    <div class="breadcrumb-form">
                        <form action="#">
                        <input type="text" placeholder="Поиск по названию">
                        <button><i data-feather="search"></i></button>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        <!-- Breadcrumb End -->
        <div class="container section-padding-bottom">
            <div class="row">
                <div class="col-md-12">
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}} mt-2">{{message}}</div>
                    {% endfor %}
                </div>
                <div class="col-md-12">
                    {% for search in favorite_searches%}

<!--                    <div class="item">-->
<!--                      <div class="tender-list half-grid">-->
<!--                        <div class="body">-->
<!--                          <div class="content">-->
<!--                            <h4><a href="#">TITLE</a></h4>-->
<!--                            <div class="info">-->
<!--                              <div class="row">-->
<!--                                <div class="col-md-5">-->
<!--                                  Начало: <b>00.00.0000</b><br>-->
<!--                                  Окончание: <b>00.00.0000</b>-->
<!--                                </div>-->
<!--                                <div class="col-md-7">-->
<!--                                  <span class="office-location">Регион: <b>CITY</b></span><br>-->
<!--                                  <span class="deadline">До завершения: <b>0 д 00 ч 0 м</b></span>-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="more">-->
<!--                            <span class="price"><b>Сумма:</b><br>PRICE тг</span><br>-->
<!--                            <div class="buttons">-->
<!--                              <a href="#" class="button">ПОДРОБНЕЕ</a>-->
<!--                            </div>-->
<!--                            <div class="remove-button">-->
<!--                              <a href="#" class="confirmation"><i class="fa fa-trash"></i>&nbsp;Удалить</a>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->

                        <div class="card p-4 mt-3">
                            <div class="row">
                                <div class="col-md-5">
<!--                                    show title-->
                                    {% if search.query.title %}
                                        <p>Лоты имя: {{search.query.title}}</p>
                                    {% else %}
                                        <p>Лоты имя: Не выбран</p>
                                    {% endif %}

<!--                                    show customer-->
                                    {% if search.query.customer %}
                                        <p>Заказчик: {{search.query.customer}}</p>
                                    {% else %}
                                        <p>Заказчик: Не выбран</p>
                                    {% endif %}

<!--                                    show id -->
                                    {% if search.query.id %}
                                        <p>Лоты id: {{search.query.id}}</p>
                                    {% else %}
                                        <p>Лоты id: Не выбран</p>
                                    {% endif %}

<!--                                    show city-->
                                    {% if search.city %}
                                        <p>Город:
                                         {% if search.city %}
                                            {% for city in search.city %}
                                                {{city.name}},
                                            {% endfor %}
                                         {%else%}
                                         'Не выбран'
                                        {% endif %}
                                    </p>
                                    {% else %}
                                        <p>Город: Не выбран</p>
                                    {% endif %}

<!--                                    show purchase method-->
                                    {% if search.statzakup %}
                                         <p>Способ закупки:
                                        {% if search.statzakup %}
                                            {% for statzakup in search.statzakup %}
                                               {{statzakup}},
                                            {% endfor%}
                                         {% else %}
                                            'Не выбран'
                                         {% endif %}
                                        </p>
                                    {% else %}
                                        <p>Способ закупки: Не выбран</p>
                                    {% endif %}

<!--                                    show subject of purchase-->
                                    {% if search.itemZakup %}
                                        <p>Предмет закупки:
                                            {% if search.itemZakup %}
                                                {% for purchase in search.itemZakup %}
                                                    {{purchase}},
                                                {% endfor%}
                                            {% else %}
                                                'Не выбран'
                                            {% endif %}
                                        </p>
                                    {% else %}
                                        <p>Предмет закупки: Не выбран</p>
                                    {% endif %}

                                </div>
                                <div class="col-md-5">
                                    {% if search.query.price_min %}
                                        <p>Лоты Максимум Цена: {{search.query.price_min}}</p>
                                    {% else %}
                                        <p>Лоты Максимум Цена: Не выбран</p>
                                    {% endif %}

                                    {% if search.query.price_max %}
                                        <p>Лоты минимальный Цена: {{search.query.price_max}}</p>
                                    {% else %}
                                        <p>Лоты минимальный Цена: Не выбран</p>
                                    {% endif %}

                                    {% if search.query.date_min %}
                                        <p>Начните Свидание: {{search.query.date_min}}</p>
                                    {% else %}
                                        <p>Начните Свидание: Не выбран</p>
                                    {% endif %}

                                    {% if search.query.date_max %}
                                        <p>Конец Свидание: {{search.query.date_max}}</p>
                                    {% else %}
                                        <p>Конец Свидание: Не выбран</p>
                                    {% endif %}

                                </div>
                                <div class="col-md-2">
                                     <form action="{% url 'post_list' %}" method="get">
                                         <input type="hidden" name="title" value="{{search.query.title}}">
                                         <input type="hidden" name="body" value="{{search.query.body}}">
                                         <input type="hidden" name="id" value="{{search.query.id}}">

                                         {% if search.city %}
                                            {% for city in search.city %}
                                                <input type="hidden" name="city[]" value="{{city.id}}">
                                            {% endfor%}
                                         {% endif %}

                                         {% if search.statzakup %}
                                            {% for statzakup in search.statzakup %}
                                                <input type="hidden" name="statzakup[]" value="{{statzakup}}">
                                            {% endfor%}
                                         {% endif %}

                                         {% if search.itemZakup %}
                                            {% for subject in search.itemZakup %}
                                                <input type="hidden" name="itemZakup[]" value="{{subject}}">
                                            {% endfor%}
                                         {% endif %}

                                         <input type="hidden" name="price_min" value="{{search.query.price_min}}">
                                         <input type="hidden" name="price_max" value="{{search.query.price_max}}">
                                         <input type="hidden" name="date_min" value="{{search.query.date_min}}">
                                         <input type="hidden" name="date_max" value="{{search.query.date_max}}">
                                         <input type="hidden" name="item_id" value="{{search.id}}">
                                         <input type="hidden" name="lots" value="{{'lots'}}">
                                         <button class="btn btn-primary">Apply this to Search</button>
                                     </form>
                                     <div class="form-group">
                                         <a href="{% url 'remove_favorite_search' search.id %}?next={% url 'favorite_search_list' %}" class="btn btn-danger" onclick="return confirm('do you want to remove it')">remove favorite search</a>
                                     </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% if favorite_searches.num_pages > 1 %}
                    <div class="pagination-list text-center">
                        <nav class="navigation pagination">
                            <div class="nav-links">
                            {% if favorite_searches.has_previous %}
                            <a class="prev page-numbers" href="?page={{ favorite_searches.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
                            {% endif %}

                            {% for p in favorite_searches.paginator.page_range %}
                            {% if favorite_searches.number == p %}
                            <a aria-current="page" href="?page={{ p }}" class="page-numbers current">{{ p }}</a>
                            {% else %}
                            <a class="page-numbers" href="?page={{ p }}">{{ p }}</a>

                            {% endif %}
                            {% endfor %}


                            {% if favorite_searches.has_next %}
                            <a class="next page-numbers" href="?page={{ favorite_searches.next_page_number }}"><i class="fas fa-angle-right"></i></a>
                            {% endif %}

                            </div>
                        </nav>                
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
{% include "blocks/footer.html" %}