{% load humanize %}
{% include "blocks/header.html" %}
{% include "blocks/search.html" %}

{% block content %}

<!--{% if bbs %}

<div class="section-padding-bottom alice-bg home-page">
  <div class="container" id="input-container">
    <div class="row">
      {% for article in bbs %}
      <div class="col-lg-12">
        <div class="tender-list half-grid">
          <div class="body">
            <div class="content">
              <h4>
                <a href="{{ article.get_absolute_url }}">
                  {{ article.title }}
                </a>
              </h4>
              <div class="info">
                <div class="row">
                  <div class="col-md-5">
                    Окончание: <br><b>{{ article.date }}</b>
                  </div>
                  <div class="col-md-7">
                    <span class="office-location">Область: <b>{{ article.city }}</b></span><br>
                    <span class="deadline">До завершения: <b>{{ date4 }}</b></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="more">
              <span class="price">
                <b>Сумма:</b><br>
                {{ article.price }} тг.
              </span><br>
              <div class="buttons">
                <a href="{{ article.get_absolute_url }}" class="button">ПОДРОБНЕЕ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="pagination-list text-center" style="text-align: center; width: 100%;">
        <nav class="navigation pagination">
          <div class="nav-links">
            {% if bbs.has_previous %}
            <a class="prev page-numbers" href="?page={{ bbs.previous_page_number }}"><i
                class="fas fa-angle-left"></i></a>
            {% endif %}

            {% for p in bbs.paginator.page_range %}
            {% if bbs.number == p %}
            <a aria-current="page" href="?page={{ p }}" class="page-numbers current">{{ p }}</a>
            {% else %}
            <a class="page-numbers" href="?page={{ p }}">{{ p }}</a>

            {% endif %}
            {% endfor %}
            {% if bbs.has_next %}
            <a class="next page-numbers" href="?page={{ bbs.next_page_number }}"><i class="fas fa-angle-right"></i></>
              {% endif %}

          </div>
        </nav>
      </div>
    </div>

  </div>
</div>

{% else %}
<div class="alert alert-warning text-center py-4 mt-2">No Latest Lot's Found!, Please Check Archived for old
  list's </div>
{% endif %}
-->

<div class="container">
  <div class="row">
    <div class="col-12" id="table">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ID of lots</th>
            <th scope="col">Lots name</th>
            <th scope="col">Price</th>
            <th scope="col">Purchase method</th>
            <th scope="col">Subject (itemZakup)</th>
            <th scope="col">End date</th>
            <th scope="col">До завершения</th>
            <th scope="col">User Request</th>
            <th scope="col">Open</th>
          </tr>
        </thead>
        <tbody>
          {% for zakaz in all_zakaz%}
            <tr {% if zakaz.klyent.profile.tarif.name|first in 'EXP' %} class="bg-primary" {% else %} class="bg-info" {% endif %}>
              <td>{{zakaz.lot.id}}</td>
              <td><a href="{{zakaz.lot.get_absolute_url}}">{{zakaz.lot.lotFullName}}</a></td>
              <td>{{zakaz.lot.price}}</td>
              <td>{{zakaz.lot.statzakup}}</td>
              <td>{{zakaz.lot.itemZakup}}</td>
              <td>{{zakaz.lot.date|date:"d/m/yy"}}</td>
              <td>{{zakaz.lot.date|naturaltime}}</td>
              <td>
                {% for p in zakaz.preference%}
                  <p {% if zakaz.klyent.profile.tarif.name|first in 'EXP' %} class="text-right" {% else %} class="text-left" {% endif %}>{{p.name}} : {{p.value}}</p>
                {% endfor %}
              </td>
              <td><a href="{{zakaz.lot.get_absolute_url}}">open lots</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if total_pages %} 
        <div class="pagination-list text-center">
          <nav class="navigation pagination">
            <div class="nav-links zakaz">
              {% if all_zakaz.has_previous %}
                <a class="prev page-numbers" href="javascript:void(0);" data-page="1"> << </a>
                <a class="prev page-numbers" href="javascript:void(0);" data-page="{{ all_zakaz.previous_page_number }}"> < </a>
              {% endif %}
              {% for p in all_zakaz.paginator.page_range %}
                  {% if all_zakaz.number == p %}
                      <a aria-current="page" href="javascript:void(0);"  data-page="{{ p }}" class="page-numbers current">{{ p }}</a>
                  {% elif p > all_zakaz.number|add:'-3' and p <= all_zakaz.number|add:'3' %}
                      <a aria-current="page" href="javascript:void(0);" data-page="{{ p }}" class="page-numbers">{{ p }}</a>
                  {% endif %}
              {% endfor %}
              {% if all_zakaz.has_next %}
                <a class="next page-numbers" href="javascript:void(0);" data-page="{{ all_zakaz.next_page_number }}"> > </a>
                <a class="prev page-numbers" href="javascript:void(0);" data-page="{{ total_pages }}"> >> </a>
              {% endif %}
            </div>
          </nav>
        </div>
      {% endif %}
    </div>

  </div>
</div>

<script>
  $(document).on("click", ".nav-links.zakaz a", function(event) {
    event.preventDefault();
    event.stopImmediatePropagation();
    var data = {};
    data["page"] = parseInt($(this).attr("data-page"));
    $.ajax({
          method: 'GET',
          url: "{% url 'index' %}",
          data: data,
          success: function (resp) {
              $("#table").html(resp);
          },
          error: function (err) {
            console.log(err.responseText);
          }
    });
  });
</script>

{% endblock %}
{% include "blocks/slider.html" %}
{% include "blocks/footer.html" %}