{% include "blocks/header.html" %}

{% block content %}

<!-- Breadcrumb -->
<div class="breadcrumb-top alice-bg padding-top-30 padding-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-area">
                    <h1>Юридические услуги</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Юридические услуги</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="alice-bg section-padding-bottom tender-details-page">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tender-listing-details">

                    <div class="details-information">

                        <div class="row">
                            <div class="col-lg-6 order-lg-2">
                                <div class="feature-thumb">
                                    <img src="/static/images/logoreg.png?v2" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 order-lg-1">
                                <div class="feature-content">
                                    <!-- Messages -->
                                    <div>
                                        {% if messages %}
                                        {% for message in messages %}
                                        <div style="border-radius:0;" {% if message.tags %}
                                            class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0"
                                            role="alert" {% endif %}>
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <!-- End Messages -->
                                    <h3>Юридические услуги</h3>
                                    <p>
                                        Юристы компании TENDERNET обладают огромным опытом в сфере тендеров и закупок.  Мы поможем вам разрешить возникающие спорные вопросы, предупредить возможные нарушения, защитить ваши интересы в суде.
                                    </p>
                                    <p>
                                        Многолетний опыт по представлению интересов в судах и организациях, на портале эл. Правительства и на сайте «Государственные закупки Республики Казахстан» как на стороне Заказчика, так и на стороне Поставщиков – ТОО и ИП.
                                    </p>
                                    <p>
                                        Если у Вас возникли проблемы или недопонимания с Заказчиком или Поставщиком, обратитесь к нам, и мы поможем вам урегулировать спор, не доводя до судебного разбирательства.
                                    </p>
                                    <p>
                                        Дополнительные услуги:
                                    </p>

                                    <ul>
                                        <li>Регистрация ТОО/ИП</li>
                                        <li>Аудит конкурсной документации конкурентов на выявление ошибок</li>
                                        <li>Преддоговорные споры, защита интересов поставщика перед заказчиками</li>
                                        <li>Юридические услуги в сфере государственных закупок и тендеров для поставщиков товаров, работ и услуг</li>
                                        <li>Обжалование действий (бездействий) и решений организатора, заказчика, конкурсной комиссии, эксперта</li>
                                        <li>Представительство интересов поставщика в органах финансового контроля и государственного аудита и перед заказчиком</li>
                                        <li>Участие в разрешении спорных вопросов</li>
                                        <li>Признание недействительными итогов государственных закупок, проведенных с нарушением требований законодательства о государственных закупках</li>
                                        <li>Ведение переписки с заказчиками от имени поставщика</li>
                                        <li>Взыскание задолженности с заказчиков по договорам</li>
                                        <li>Проверка проектов договоров на соответствие законодательству, предоставленных на подписание поставщику заказчиком, подготовка возражений и замечаний по ним</li>
                                    </ul>

                                    <hr>

                                    <style>
                                        .iso-form label {
                                            display: block !important;
                                        }

                                        .iso-form input,
                                        .iso-form select {
                                            height: auto;
                                            min-width: 300px;
                                            padding-left: 0px;
                                            border: 0;
                                            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
                                            transition: all .3s ease;
                                            outline: none;
                                            font-size: 14px;
                                            color: #000;
                                            background: #fff;
                                            box-shadow: none;
                                        }

                                        .iso-form input[type=submit] {
                                            display: block;
                                            width: 100%;
                                            text-align: center;
                                            margin-bottom: 10px;
                                            padding: 12px 30px;
                                            background: #eb3547;
                                            color: #ffffff;
                                            font-size: 14px;
                                        }
                                    </style>
                                    <form class="iso-form" method="POST">
                                        <!-- Very Important csrf Token -->
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <p>
                                                {% for field in form %}
                                                <div class="form-group">
                                                    {{field.label_tag}}
                                                    <div>{{field}}</div>
                                                    {{field.errors}}
                                                </div>
                                                {% endfor %}
                                            </p>
                                        </div>
                                        <br>
                                        <input type="submit" name="Subscribe" class='btn btn-primary btn-lg'>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% include "blocks/footer.html" %}